# --- Flutter/Dart ---
.dart_tool/
.packages
.pub/
build/
coverage/
.melos_tool/

# IDE cache
.idea/
.vscode/
*.iml

# --- Android ---
android/.gradle/
android/local.properties
**/*.keystore
**/*.jks
**/key.properties

# --- iOS ---
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
**/*.mobileprovision
**/*.p12
# Xcode user data
**/xcuserdata/
**/DerivedData/

# --- Env & secrets ---
.env
*.env.*
*.credentials.json
*service*account*.json
**/fastlane/.env*

# --- Misc ---
.DS_Store
Thumbs.db
# --- Flutter generated ---
.flutter-plugins
.flutter-plugins-dependencies
**/flutter_export_environment.sh
**/.last_build_id

# --- Logs ---
*.log
# --- Flutter generated ---
.flutter-plugins
.flutter-plugins-dependencies
**/flutter_export_environment.sh
**/.last_build_id

# --- Logs ---
*.log

# --- Binary dependences ---
node_modules/
*.exe